target
bin
.gradle
.mvn
.vscode
.project
.classpath
model/.settings/org.eclipse.core.resources.prefs
model/.settings/org.eclipse.jdt.apt.core.prefs
model/.settings/org.eclipse.jdt.core.prefs
model/.settings/org.eclipse.m2e.core.prefs
repository/.settings/org.eclipse.core.resources.prefs
repository/.settings/org.eclipse.jdt.apt.core.prefs
repository/.settings/org.eclipse.jdt.core.prefs
repository/.settings/org.eclipse.m2e.core.prefs
service-api/.settings/org.eclipse.core.resources.prefs
service-api/.settings/org.eclipse.jdt.apt.core.prefs
service-api/.settings/org.eclipse.jdt.core.prefs
service-api/.settings/org.eclipse.m2e.core.prefs
service-impl/.settings/org.eclipse.core.resources.prefs
service-impl/.settings/org.eclipse.jdt.apt.core.prefs
service-impl/.settings/org.eclipse.jdt.core.prefs
service-impl/.settings/org.eclipse.m2e.core.prefs
